<%= form_for @message, :html => { :class => 'form-horizontal', 'data-type' => 'json', :multipart => true } do |f| %>

<div class="control-group">	
  <%= f.label "Campaign", :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :campaign,  :class => 'input-xlarge', :placeholder=>"Campaign name..."%>
  </div>
</div>

<div class="control-group">
	<%= f.label "Version", :class => 'control-label' %>
	<div class="controls">
    	<%= f.text_field :version, :class => 'input-xlarge', :placeholder=>"Version..." %>
  	</div>
</div>

<div class="control-group">
	
	<%= f.fields_for :attachment, @message.attachment do |attachment_fields| %>
	<%= attachment_fields.label "Attachment", :class => 'control-label'%>
	
	<div class="controls">
		 
		 <div class="fileupload fileupload-new" data-provides="fileupload">
	  	   <div class="input-append">
			   	<div class="uneditable-input span3">
					<i class="icon-file fileupload-exists"></i> 			
					<span class="fileupload-preview"></span>
				</div>
				<span class="btn btn-file">
					<span class="fileupload-new">Select file</span>
					<span class="fileupload-exists">Change</span>
					<!--<input type="file" />-->
					<%= attachment_fields.file_field :attached, :style => "font-size: 14px" %>
				</span>
				<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
	  	   </div>
		</div>
		
	</div>
		
	<% end %>
</div>

<div class="control-group">
    <%= f.label "To *", :class => 'control-label' %>
	<div class="controls">
    	<%= f.text_area :to, :cols => 15, :rows => 7, :class => 'input-xlarge', :placeholder=>"Comma separated list of recipients..." %>
    </div>
</div>
<div class="control-group">
    <%= f.label "Message *", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :body, :cols => 15, :rows => 7, :maxlength=>"160", :class => 'input-xlarge', :placeholder=>"Message body..."%>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                messages_path, :class => 'btn' %>
  </div>
<% end %>
