<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @client_number.client_id %>
</p>

<p>
  <b>Phone:</b>
  <%= @client_number.phone %>
</p>


<%= link_to 'Edit', edit_client_number_path(@client_number) %> |
<%= link_to 'Back', client_numbers_path %>
