<p id="notice"><%= notice %></p>

<p>
  <b>Countrycode:</b>
  <%= @recipient.CountryCode %>
</p>

<p>
  <b>Phone:</b>
  <%= @recipient.Phone %>
</p>

<p>
  <b>Optout:</b>
  <%= @recipient.OptOut %>
</p>


<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %>
