<%- model_class = User -%>
<div class="page-header">
  <h1>Account</h1>
</div>

<div>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @user.email %></dd>
  <dt><strong>API Key:</strong></dt>
  <dd><%= @user.authentication_token %></dd>
</dl>
</div> 
<div>
  <ul class="thumbnails">
    <li class="span4">
      <a href="<%= shareables_path %>" class="thumbnail">
        <img data-src="holder.js/300x200" alt="Links">
      </a>
    </li>
    <li class="span4">
      <a href="<%= emails_path %>" class="thumbnail">
        <img data-src="holder.js/300x200" alt="Emails">
      </a>
    </li>
    <li class="span4">
      <a href="<%= email_templates_path %>" class="thumbnail">
        <img data-src="holder.js/300x200" alt="Email Templates">
      </a>
    </li>
    <li class="span4">
      <a href="<%= messages_path %>" class="thumbnail">
        <img data-src="holder.js/300x200" alt="SMS">
      </a>
    </li>
  </ul>
</div>

