<p id="notice"><%= notice %></p>

<p>
  <b>Targeturl:</b>
  <%= @click.targeturl %>
</p>

<p>
  <b>Defaulturl:</b>
  <%= @click.defaulturl %>
</p>

<p>
  <b>Client:</b>
  <%= @click.client %>
</p>

<p>
  <b>Ref:</b>
  <%= @click.ref %>
</p>

<p>
  <b>Device:</b>
  <%= @click.device %>
</p>

<p>
  <b>Browser:</b>
  <%= @click.browser %>
</p>

<p>
  <b>Actualurl:</b>
  <%= @click.actualurl %>
</p>


<%= link_to 'Edit', edit_click_path(@click) %> |
<%= link_to 'Back', clicks_path %>
