<h1>Listing sms_archives</h1>

<table>
  <tr>
    <th>To</th>
    <th>Body</th>
    <th>From</th>
    <th></th>
    <th>Version</th>
    <th>Status</th>
    <th>Sms</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sms_archives.each do |sms_archive| %>
  <tr>
    <td><%= sms_archive.to %></td>
    <td><%= sms_archive.body %></td>
    <td><%= sms_archive.from %></td>
    <td><%= sms_archive. %></td>
    <td><%= sms_archive.version %></td>
    <td><%= sms_archive.status %></td>
    <td><%= sms_archive.sms_id %></td>
    <td><%= link_to 'Show', sms_archive %></td>
    <td><%= link_to 'Edit', edit_sms_archive_path(sms_archive) %></td>
    <td><%= link_to 'Destroy', sms_archive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sms archive', new_sms_archive_path %>
