<%- model_class = Shareable -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:input) %>:</strong></dt>
  <dd><%= @shareable.input %></dd>
  <dt><strong><%= model_class.human_attribute_name(:shareable) %>:</strong></dt>
  <dd><%= @shareable.shareable %></dd>
  <dt><strong><%= model_class.human_attribute_name(:client_id) %>:</strong></dt>
  <dd><%= @shareable.client_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ref) %>:</strong></dt>
  <dd><%= @shareable.ref %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              shareables_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_shareable_path(@shareable), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              shareable_path(@shareable),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
