<p id="notice"><%= notice %></p>

<p>
  <b>Template:</b>
  <%= @email.template %>
</p>

<p>
  <b>To:</b>
  <%= @email.to %>
</p>

<p>
  <b>From:</b>
  <%= @email.from %>
</p>

<p>
  <b>Toname:</b>
  <%= @email.toname %>
</p>

<p>
  <b>Fromname:</b>
  <%= @email.fromname %>
</p>

<p>
  <b>Ref:</b>
  <%= @email.ref %>
</p>


<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
