<%= render 'home/usernav' %>

<p id="notice"><%= notice %></p>

<p>
  <b>Authentication token:</b>
  <%= @user.authentication_token %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
	<b>Applications:</b>
</p>
<% if !@user.clients.empty? %>

<%= render @user.clients  :locals => { :user => @user, :clients => @user.clients } %>

<% else %>
No applications created yet. <%= link_to 'Create application', new_client_path %>

<% end %>

</br>

<%= link_to 'Edit', edit_user_registration_path %> |
<%= link_to 'Back', clicks_path %>
