<h1>Listing users_clients</h1>

<table>
  <tr>
    <th>User</th>
    <th>Client</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users_clients.each do |users_client| %>
  <tr>
    <td><%= users_client.user_id %></td>
    <td><%= users_client.client_id %></td>
    <td><%= link_to 'Show', users_client %></td>
    <td><%= link_to 'Edit', edit_users_client_path(users_client) %></td>
    <td><%= link_to 'Destroy', users_client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Users client', new_users_client_path %>
