<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @users_client.user_id %>
</p>

<p>
  <b>Client:</b>
  <%= @users_client.client_id %>
</p>


<%= link_to 'Edit', edit_users_client_path(@users_client) %> |
<%= link_to 'Back', users_clients_path %>
